apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-operator-controller
  namespace: {{ namespace }}
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: gitops-operator-controller
  template:
    metadata:
      labels:
        app: gitops-operator-controller
    spec:
      serviceAccountName: gitops-access-api
      containers:
        - name: gitops-operator-controller-mainprocess
          image: {{ image }}
          command: ["ruby"]
          args: ["wunderwander_gitops_controller.rb"]