apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ name }}
  namespace:  {{ namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      serviceAccountName: gitops-access-api
      containers:
        - name: gitops
          image: {{ image }}
          command: ["ruby"]
          args: ["wunderwander_gitops_worker.rb"]
          env:
            - name: GIT_BRANCH
              value: {{ git_branch }}
            - name: GIT_REPO
              value: {{ git_repo }}
            - name: GIT_NAME
              value: {{ git_name }}
            - name: GITOPS_NAMESPACE
              value: {{ gitops_namespace }}
          volumeMounts:
            - name: ssh-keys
              mountPath: "/app/.ssh"
      volumes:
      - name: ssh-keys
        secret:
          secretName: ssh-keys
          items:
          - key: private_key
            path: id_rsa
          defaultMode: 256
